<h1 id="page-title" data-controller="review">Smelly Potatoes Reviews</h1>

<h3>Create A Review</h3>
<%= form_for @review, remote: true do |f| %>
  <%= f.label :reviewer_name %>
  <%= f.text_field :reviewer_name %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <%= f.label :review_text %>
  <%= f.text_field :review_text %>
  <%= f.collection_select :movie_id, Movie.all, :id, :title %>
  <%= f.submit %>
<% end %>

<table id="review-table" class="table table-striped">
  <thead>
    <tr>
        <th>Movie Reviewed</th>
      <th>Reviewer</th>
      <th>Title</th>
      <th>Review Text</th>
      <th>Review Date</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody id="review-body">
  </tbody>
</table>
